@import '../../node_modules/mc-components/lib/styles/index';

// components
@import './components/logo';

// pages
@import './pages/home';

$red: 'green';

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 100%;
}

p {
  font-size: 1.4rem;
}
