@import '../../node_modules/mc-components/lib/styles/index';

// components
@import './components/logo';
@import './components/imageTile';
@import './components/tileCaption';
@import './components/videoTile';
@import './components/checkTile';
@import './components/tileOverlay';

// pages
@import './pages/home';
@import './pages/welcomePage';

$red: 'green';

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 100%;
}

p {
  font-size: 1.4rem;
}
